/* Exercises css - w3schools */

/*  section one 
*   exercise one*/

p {
    color: red;
}

/* exercise two */


#para1 {
    color:red;
}

/* exercise three */
.colortext {
    color: red;
}

/* exercise four */
h1, p {  
    color: red;
}


/*  section two
*   exercise one */

/*  <link rel="stylesheet" href="mystyle.css"> */

/*  exercise two */
body{
    background-color:red;
}



/* exercise three */

/* <body style="background-color: red"> */

/* exercise four */
p {
    color: red;
}


/*  section three
*   exercise one */
h1 {
    background-color: lightblue;
}

/* exercise two to four */
    body {
        background-image:url("basicimage.gif");
        background-repeat: repeat-y;
        background-position: top right;
    }


/* exercise five */
    body {
        background-image: url("img_tree.png");
        background-attachment: fixed;
    }


/*  section four 
*   exercise one */
p {
    border: 4px dotted red;
}

/*  exercise two */
p {
    border-style: dotted;
    border-color: red;
    border-width: 4px;
}

/*  exercise three */
p {
    border-left-style: groove;
    border-radius: 5px;
}

/*  exercise four */
p {
    border: 2px solid red;
    border-radius: 5px;
}

/*  section five
*   exercise one */
h1 {
    margin-left: 20px;
}

/*  exercise two */
h1 {
    margin: 20px 40px;
}

/*  exercise three */
h1 {
    margin: 20px 15px 25px 10px;
}

/*  exercise four */
h1 {
    margin: auto;
}


/*  section six
*   exercise one */
h1 {
    padding-top: 30px;
}

/*   exercise two */
h1 {
    padding: 30px;
}

/*   exercise one */
h1 {
    padding: 40px, 10px;
}


/*  section seven
*   exercise one & two */
h1 {
    height: 100px;
    width: 50%;
}


/*  section eight
*   exercise one to three */
div {
    width:200px;
    border: 2px solid red;
    padding: 25px;
    margin-left: 25px;
}


/*  section nine
*   exercise one */
