/* Exercises css - w3schools */

/*  section one 
*   exercise one*/

p {
    color: red;
}

/* exercise two */


#para1 {
    color:red;
}

/* exercise three */
.colortext {
    color: red;
}

/* exercise four */
h1, p {  
    color: red;
}


/*  section two
*   exercise one */

/*  <link rel="stylesheet" href="mystyle.css"> */

/*  exercise two */
body{
    background-color:red;
}



/* exercise three */

/* <body style="background-color: red"> */

/* exercise four */
p {
    color: red;
}


/*  section three
*   exercise one */
h1 {
    background-color: lightblue;
}

/* exercise two to four */
    body {
        background-image:url("basicimage.gif");
        background-repeat: repeat-y;
        background-position: top right;
    }


/* exercise five */
    body {
        background-image: url("img_tree.png");
        background-attachment: fixed;
    }


/*  section four 
*   exercise one */
p {
    border: 4px dotted red;
}

/*  exercise two */
p {
    border-style: dotted;
    border-color: red;
    border-width: 4px;
}

/*  exercise three */
p {
    border-left-style: groove;
    border-radius: 5px;
}

/*  exercise four */
p {
    border: 2px solid red;
    border-radius: 5px;
}

/*  section five
*   exercise one */
h1 {
    margin-left: 20px;
}

/*  exercise two */
h1 {
    margin: 20px 40px;
}

/*  exercise three */
h1 {
    margin: 20px 15px 25px 10px;
}

/*  exercise four */
h1 {
    margin: auto;
}


/*  section six
*   exercise one */
h1 {
    padding-top: 30px;
}

/*   exercise two */
h1 {
    padding: 30px;
}

/*   exercise one */
h1 {
    padding: 40px, 10px;
}


/*  section seven
*   exercise one & two */
h1 {
    height: 100px;
    width: 50%;
}


/*  section eight
*   exercise one to three */
div {
    width:200px;
    border: 2px solid red;
    padding: 25px;
    margin-left: 25px;
}


/*  section nine
*   exercise one & two */
div {
    outline-style: solid;
    outline-width: 5px;
    outline-color: red;
}

/*  exercise three */
div {
    outline: 4px dotted red;
}


/*  section ten 
*   exercise one */
p {
    color:red;
}

/*  exercise two */
p {
    text-align: center;
}

/*  exercise three */
a {
    text-decoration: none;
}

/*  exercise four */
h1 {
    text-transform: uppercase;
}

p {
    text-transform: capitalize;
}

/*  exercise five */
p {
    text-indent: 20px;
}


/*  section eleven
*   exercise one */
h1 {
    font-family: Verdana;
}

/*  exercise two */
h1 {
    font-style: italic;
}

/*  exercise three to five */
h1 {
    font-size: 50px;
    font-weight: bold;
    font-variant: small-caps;
}


/*  section twelve
*   exercise one */
a {
    color: red;
}

/*  exercise two */
a:hover {
    color: aquamarine;
}

/*  exercise three */
a:visited {
    color: aquamarine;
}

/*  exercise three */
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link {
    text-decoration: none;
}


/*  section thirdteen
*   exercise one */
ul {
    list-style-type: square;    
}

/*  exercise two */
ul {
    list-style-image: url("example.png");
}

/*  exercise three */
ul {
    list-style-type: none;
}

/*  exercise four */
ul {
    list-style-type: upper-roman;
}


/*  section fourteen 
*   exercise one */
table, th, td {
    border: 2px solid green;
}

/*  exercise two */
table {
    border-collapse: collapse;
}

/*  exercise three 
* <table style="width:100%"> */

/*  exercise four */
td {
    text-align: right;
}

/*  exercise five & six */
th {
    padding: 15px;
    background-color: lightblue;
}


/*  section fiveteen 
*   exercise one */
h1 {
    visibility: hidden;
}

/*  exercise two */
h1 {
    visibility: none;
}

/*  exercise three */
li {
    display: inline;
}

/*  exercise four */
strong {
    display: block;
}


/*  section sixteen
*   exercise one */
h1 {
    position: fixed;
    top: 50px;
    right: 10px;
}

/*  exersice two */
h1 {
    position: relative;
    top: 50px;
}

/*  exercise three */
h1 {
    position: absolute;
    top: 50px;
}

/*  exercise four */
.myheader {
    position: relative;
    top: 50px;
}

/*  section seventeen
*   exercise one */
#meintitel {
    position: absolute;
    top: 0;
    z-index: 1;
}

#dasintro {
    position: absolute;
    top: 0;
    z-index: 0;
}

/* <body>
  <h1 id="meintitel">This is a heading</h1>
  <p id="dasintro">This is a paragraph</p>
</body> */


/*  section eighteen 
*   exercise one */
.intro {
    width: 200px;
    height: 70px;
    overflow: scroll;
}

/*  exercise two */
.intro {
    width: 200px;
    height: 70px;
    overflow: hidden;
}

/*  exercise three */
.intro {
    width: 200px;
    height: 70px;
    overflow-x: scroll;
}


/*  section nineteen
*   exercise one & two */
.intro {
    width: 200px;
    margin: auto;
    position: absolute;
    right: 0px;
}


/*  section twenty
*   exercise one */
div p {
    color: red;
}

/*  exercise two 
*   immediate children of div */
div > p {
    color: red;
}

/*  excercise three 
*   directly after a div -> + */
div + p {
    color: red;
}

/*  exercise four
*   siblings */
div ~ p {
    color:aliceblue;    
}


/*  section twenty-one
*   exercise one */
a:hover {
    background-color: red;
}

/*  exercise two
*   using a class + hover */
.master:hover {
    background-color: red;
}

/*  exercise three */
p:first-child {
    background-color: greenyellow;
}

/*  exercise four */
input:focus {
    background-color: blueviolet;
}

/*  section twenty-two
*   exercise one */
.intro::first-line {
    background-color: blanchedalmond;
}

/*   exercise two */
.intro::first-letter {
    background-color: blanchedalmond;
}

/*  exercise three */
p::before {
    content: url("thisimage.png");
}

p::after {
    content: url("thisimage.png");
}


/*  section twentythree
*   exercise one */
img {
    opacity: 0,5;
}

/*  exercise two */
/*  image shows at hover */
img:hover {
    opacity: 1;
}


/*  section twentyfour
*   exercise one */
a[target] {
    background-color: red;
}

/*  exercise two */
a[target="blank"] {
    background-color: bisque;
}

/*  exercise three */
/*  for elements having "Blue" inside its title" */
img[title~="blue"] {
    border: 5px solid green;
}

/*  excercise four */
/*  blue at the beginning of the title */
img[title^="blue"] {
    border-style: dotted;
}

/*  exercise five */
/*  end of the title */
img[title$="flower"] {
    border-width: thick;
}

/*  exercise six */
/*  if it contains flower, so also flowers will be formatted */
img[title*="flower"] {
    border: 5px solid green;
}


/*  section twentyfive 
*   exercise one */
div {
    background: greenyellow;
    border-radius: 10px;
}

/*  exercise two */
div {
    background: navy;
    border-bottom-left-radius: 10px;
}


/*  section twentysix
*   exercise one */
div {
    border: 10px solid transparent;
    border-image: url(w3schools.png) 30 pound;
}

/*  exercise two */
div {
    border-image-source: url(w3schools.png);
    border-image-repeat: stretch;
    border-image-slice: 30;
}


/*  section twentyseven
*   exercise one */
body {
    background-image: url("img1.gif"), url("img22.gif");
}

/*  exercise two */
body {
    background-image: url("peter1.png");
    background-size: 100 80;
    background-repeat: no-repeat;
}

/*  exercise three */
body {
    background-image: url('img1.png'), url('img2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}

/*  exercise four */
#example1 {
    padding: 20px;
    background-image: url('img.gif');
    background-repeat: no-repeat;
    background-origin: content-box;
}

#example2 {
    border: 10px dotted red;
    padding: 20px;
    background-color: yellow;
    background-clip: border-box;
}


/*  section twentyeight
*   exercise one */
h1 {
    background-color: rgba(255, 0, 0, 1.0);
}

/*  exercise two */
h1 {
    background-color: hsl(0, 100%, 50%);
}

/*  excercise three */
h1 {
    background-color: hsla(0, 100%, 50%, 0.3);
}

/*  exercise four */
h1 {
    background-color: rgb(255,0,0);
    opacity: 0.3;
}

/*  section twentynine
*   exercise one & two */
div {
    background-image: linear-gradient(to right, white, green)
}

/*  exercise three */
div {
    background-image: linear-gradient(to left, white, green)
}

/*  exercise four */
div {
    background-image: linear-gradient(to bottom right, white, green)
}

/*  exercise five */
div {
    background-image: linear-gradient(70deg, white, greenyellow)
}

/*  exercise six */
div {
    background-image: radial-gradient(white, green)
}

/*  exercise seven */
div {
    background-image: radial-gradient(circle, white, blue)
}


/*  section thirty
*   exercise one */
h1 {
    text-shadow: 2px 2px;
}

/*  exercise two */
h1 {
    text-shadow: 2px 2px 5px green;
}

/*  exercise three */
h1 {
    text-shadow: 2px 2px 5px green, 3px 3px 10px red;
}

/*  exercise four & five  */
div {
    box-shadow: 10px 10px rgb(174, 21, 21);
}


/*  section thirtyone
*   exercise one */
p {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*  exercise two */
p {
    width: 150px;
    border: 1px dotted #265bcd;
    word-wrap: break-word;
}

/*  exercise three */
p {
    width: 150;
    border: 1px solid #abc123;
    word-break: break-all;
}


/*  section thirtytwo 
*   exercise one */
@font-face{
    font-family: sansation;
    src: url('sansation_light.woff');
}

/*  exercise two */
@font-face{
    font-family: sansation;
    src: url('sansation.bold.woff')
}