/*  This is a walkthrough for the documentation
*
*   First note is IDs and classes
*/

/*this specifies on all paragraphs (only)
* important will use that color instead of any other that i might set even inline.*/
p {
    text-align: center;
    color: red !important;
  }

/*the html element then looks like this <h1 id="para1">... <p id="para1"*/
 #para1 {
    text-align: center;
    color: red;
}

/* this one is a class. /*

/* a class can be specified like this to an html element. Using= <h1 class="center">.. */
.center {
    text-align: center;
    color: red;
  }

.second {
  text-align: center;
  color: red;
}

/*only paragraphs can use this class*/
p.center {
    text-align: center;
    color: red;
  }

/*adding more then one class or para you can use them like this*/
/*  <h1 class="center second">Hello World!</h1> */



/*  css can be set external, internal or inline.
*
*
*
*   External Style
*   <head> <link =rel"stylesheet" href="mystyle.css"> </head>
*   
*   Inline would be within the html-tag as a style. 
*   <h1 style="color:blue";>...</h1>
*   
*   Inside
*   <head>
*     <style>           
*/
body {background-color: linen;}
h1 { color:maroon;
    margin-left: 40px;}
/* </style> </head> */


/* example color RGB
    <h1 style="background-color:rgb(255, 99, 71);">...</h1>

    Hex
    <h1 style="background-color:#ff6347;">...</h1>

    RGBA(255,99,71,0.2)   A = opacity 
*/
/* opacity can also be used like here */
div {
  background-color: green;
  opacity: 0.3;
}


/* Different forms of background
background-color
bpdy {background-image: url("paper.gif");
      background-repeat: no-repeat-x;
      background-position: right top;}

background-attachment       - this will fix an element even tho you scroll. If it's fixed the element will move down while scrolling. "scroll" will let it go away scrolling down

background-position
background (shorthand property)
*/

/*Demonstration of the different border styles:*/

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/* border-radius makes the border rounded! */
p {
  border: 2px solid red;
  border-radius: 5px;
}



/* CSS Box-Model 
*
*   Content - The content of the box, where text and images appear (middle)
*   Padding - Clears an area around the content. The padding is transparent (first cycle)
*   Border - A border that goes around the padding and content (second cycle)
*   Margin - Clears an area outside the border. The margin is transparent (outter cycle)
*
*/


/* link states
*
*   a:link - a normal, unvisited link
*   a:visited - a link the user has visited
*   a:hover - a link when the user mouses over it
*   a:active - a link the moment it is clicked
*
* use a link as a button!         */
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  border: 4px dotted;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}

/* this works as a class. you can use it with <a class="two"...*/
a.two.hover, a.two.active {
  background-color: yellow;
}



/* there are also different types of list-styles
*
*   list-style-type: circle;
*   list-style-type: square;
*   list-style-type: upper-roman;
*   list-style-type: lower-alpha;
*
* using an image as dot
*   list-style-image: url('example.gif');
*
* then there is the style-position. Outside means, the text is fixed next to the dots. Inside means new line goes below the dot.
*   list-style-position: outside;
*   list-style-position: inside;
*
* this list-shorthand property is used to declare more properties at once
*   list-style: squar inside url("...");
*/

/* as used before but this only focusses on ordered lists */
ol {
  background: #f44336;
  padding: 10px;
}

/* This focusses on the part next to the dots. So the list is red around and hast an inner blueviolet cycle.*/
ol li{
  background: blueviolet;
}


/* tables need to be styled to get into good shape.
*   some examples are listened below.
*/
table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}